*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body::-webkit-scrollbar {
    width: 0px;
}

/* Navbar */
header{
    /* border: 2px solid red; */
    background: rgba(13, 33, 97);
    color: white;
    width: 100%;
    z-index: 1;
    position: sticky;
    top: 0;
    height: 4.5rem;
    display: flex;
    justify-content: center;
}
header nav{
    height: 100%;
    width: 85%;
    /* border: 2px solid red; */
}
nav ul{
    display: flex;
    /* border: 2px solid red; */
    justify-content: space-between;
    align-items: center;
    width: 50%;
    height: 100%;
}
nav ul li{
    list-style: none;
    display: flex;
    /* border: 2px solid red; */
    align-items: center;
    font-size: 1.5rem;
    height: 100%;
}
nav ul li #logo{
    /* border: 2px solid red; */
    /* margin-left: 2rem; */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav ul li #logo img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px;
}
.comname{
    /* border: 2px solid green; */
    transform: translateX(50%);
    cursor: pointer;
}
.comname a{
    text-decoration: none;
    color: white;
    font-family: 'JetBrains Mono', monospace;
}

/* Name Section */
main{
    width: 100%;
    height: calc(100vh - 4.5rem);
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(29, 15, 71, 0.705);
}
main .container{
    width: 85%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 2px solid red; */
    color: white;
}
main .container #image{
    width: 45%;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid green; */
}
main .container #image img{
    width: 120%;
    aspect-ratio: 1;
}
main .container .maincont{
    width: 45%;
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
main .container .maincont p{
    text-align: center;
    line-height: 1.5rem;
}
main .container .maincont .name{
    font-size: 4rem; 
    font-family: 'JetBrains Mono', monospace;
    margin-bottom: 2rem;
}

/* Language Section */
section{
    width: 100%;
    padding: 2rem 0;
    display: grid;
    place-items: center;
    background-color: #f1f1f1;
}
section .courseCont{
    width: 85%;
    height: 100%;
    /* border: 2px solid red; */
}
section .courseCont #courses{
    font-size: 2rem;
    color: rgb(48, 28, 119);
    border: 2px solid rgb(48, 28, 119);
    text-align: center;
    padding: 1rem;
    margin-bottom: 2rem;
}
section .courseCont .boxes{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    /* border: 2px solid red; */
    padding: 2rem 0;
    gap: 4rem;
}
section .courseCont .boxes .box{
    position: relative;
    display: flex; 
    flex-direction: column;
    align-items: center;
    width: 30rem;
    height: 30rem;
    padding: 1rem 2rem;
    background: rgba(255, 255, 255, 0.5);
    border: 2px solid rgb(48, 28, 119, 0.4);
    box-shadow: 0 0 10px rgba(43, 11, 158, 0.5);
    transition: scale 0.3s ease-in-out;
    cursor: pointer;
}
section .courseCont .boxes .box:hover{
    /* position: absolute; */
    scale: 1.05;
}
section .courseCont .boxes .box .langname{
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 0 ;
    color: rgb(48, 28, 119);
    font-size: 1.5rem;
}
section .courseCont .boxes .box .aboutlang{
    display: flex;
    flex-wrap: wrap;
    letter-spacing: 0.5px;
    line-height: 1.5rem;
    font-size: 1rem;
    text-align: justify;
    margin-top: 1rem;
    margin-bottom: 3rem;
}
section .courseCont .boxes .box #startbtn{
    height: 1.8rem;
    width: 8rem;
    display: grid;
    place-items: center;
    font-size: 1rem;
    letter-spacing: 1.2px;
    background: rgba(43, 11, 158, 0.842);
    color: white;
    position: absolute;
    bottom: 5%;
}
section .courseCont .boxes .box #startbtn a{
    position: relative;
    color: white;
    text-decoration: none;
}
section .courseCont .boxes .box #startbtn a:hover .bodbot{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    animation: motion 0.5s ease-in-out 1;
    background-color: white;
}
@keyframes motion{
    from{
        width: 0%;
    }
    to{
        width: 100%;
    }
}

/* Footer Section */
footer{
    width: 100%;
    height: 14rem;
    /* background: rgba(13, 33, 97); */
    background: rgb(4, 1, 32);
    color: white;
    display: grid;
    place-items: center;
}
footer .foot{
    width: 85%;
    height: 4rem;
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer .foot .left{
    /* width: 30%; */
    height: 100%;
    /* border: 2px solid green; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}
footer .foot .left .logo{
    height: 80%;
    aspect-ratio: 1;
    border-radius: 50%;
}
footer .foot .left .logo img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
footer .foot .left .name{
    font-size: 200%;
    font-family: 'JetBrains Mono', monospace;
}
footer .foot .socials{
    height: 50%;
    width: 15%;
    /* border: 2px solid green; */
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 1rem;
}
footer .foot .socials a{
    height: 100%;
    aspect-ratio: 1;
    /* border: 2px solid gold; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}
footer .foot .socials #github{
    background-color: white;
}
footer .foot .socials #github img{
    height: 80%;
}
footer .foot .socials #twitter{
    background-color: black;
}
footer .foot .socials a img{
    height: 100%;
    aspect-ratio: 1;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    nav{
        position: sticky;
    }
    .comname a{
        font-size: 1.3rem;
    }
    .container{
        height: 500px;
        align-items: flex-end;
        justify-content: center;
    }
    .container::before{
        height: 60%;
        background-position: center top;
    }
    .container .maincont{
        transform: none;
        padding: 1.5rem;
    }
    .container .maincont .name{
        font-size: 2.5rem;
    }
    .container .maincont p{
        line-height: 1.2rem;
        font-size: 0.9rem;
    }
    .buttons span{
        cursor: pointer;
        height: 100%;
        margin: 0;
        font-size: 1.3rem;
        padding: 0.4rem 0.9rem;
    }
    .box{
        background: rgba(43, 11, 158, 0.1);
    }
    .aboutlang{
        display: flex;
        flex-wrap: wrap;
        letter-spacing: 0.5px;
        line-height: 1.4rem;
        font-size: 0.8rem;
        margin-top: 0.6rem;
    }
    .language{
        height: 30rem;
    }
}
@media screen and (max-width: 400px){
    nav ul li img{
        width: 40px;
        height: 40px;
        margin-left: 1.5rem;
    }
    .box{
        background: rgba(43, 11, 158, 0.06);
    }
    .comname a{
        font-size: 1.2rem;
    }
}
@media screen and (max-width: 350px) {
    nav ul li img{
        width: 30px;
        height: 30px;
        margin-left: 1.3rem;
    }
    .container .maincont .name{
        font-size: 1.7rem;
    }
    .container .maincont p{
        line-height: 1rem;
        font-size: 0.8rem;
    }
    .buttons{
        flex-wrap: wrap;
    }
    .buttons span{
        display: flex;
        justify-content: center;
        width: 50%;
        cursor: pointer;
        height: 100%;
        margin: 0;
        font-size: 1rem;
        padding: 0.4rem 0.9rem;
        border-radius: 0;
    }
}