#toolbar {
	background-color: #f1f1f1;
	padding: 10px;
}

#toolbar button {
	background-color: #f1f1f1;
	border: none;
	padding: 10px;
}

#editor {
	border: 1px solid #ccc;
	padding: 10px;
	height: 300px;
	overflow: auto;
}