/* Reset default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  height: 100vh;
}

/* Navigation styles */
nav {
  background-color: blueviolet;
  /* height: 5rem; */
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    height: calc(95% - 5rem);
}

/* Main container styles */
.container {
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

/* Title styles */
.title {
  color: blueviolet;
  text-align: center;
  margin-bottom: 2rem;
}

/* Form styles */
form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  color: blueviolet;
}

input[type="text"],
textarea {
  padding: 10px 20px;
  margin-bottom: 2rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea {
  resize: none;
  overflow: auto;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: blueviolet;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: large;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #8a2be2;
}
