* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    scroll-behavior: smooth;
}

body {
    padding: 1rem 3rem;
    color: #222;
}

body::-webkit-scrollbar {
    width: 0px;
}

h1{
    margin-bottom: 2rem;
    color: rgb(27, 21, 81);
}

h3,h2,h3,h4,h5,h6{
    color: rgb(27, 21, 81);
    margin-top: 2rem;
}

ul, ol{
    margin: 1rem 0;
}

li {
    margin-left: 1rem;
    margin-bottom: 1rem;
    line-height: 1.5rem;
}

li .code{
    margin-top: 1rem;
}

p {
    margin: 1rem 0;
    letter-spacing: 0.4px;
    line-height: 1.5rem;
}

strong{
    color: rgb(16, 12, 47);
}

.code{
    position: relative;
    /* background-color: rgba(0, 0, 0, 0.164); */
    background-color: #282c34;
    color: #f1f1f1;
    padding: 1rem;
    word-wrap: break-word;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.code:hover{
    cursor: pointer;
}

.code .copybtn{
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #fff;
    padding: 5px 10px;
    font-size: 12px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    transition: display 0.2s ease-in-out;
}

.code .copybtn:hover{
    background: #f1f1f1;
}

.code:hover .copybtn{
    display: block;
}

.code pre{
    font-family: 'JetBrains Mono', monospace;
    font-size: smaller;
    white-space: pre-wrap;
    word-wrap: break-word;
    line-height: 200%;
}

.structimg{
    display: flex;
    align-items: center;
    /* border: 2px solid; */
    margin-bottom: 4rem !important;
    max-width: 700px;
    width: 100%;
}
.structimg:last-child{
    margin-bottom: 0;
}
.structimg img{
    max-width: 100%;
}
.pl img{
    border: 1px solid gray;
    border-radius: 5px;
    margin-top: 1rem;
}
.structimg .hori{
    min-height: 70px;
    height: 100%;
}
.structimg .vert{
    max-width: 350px;
    width: 100%;
}
.structimg .box{
    height: 200px;
}

span {
    font-weight: bold;
    color: rgb(27, 21, 81);
}

.img-center{
    margin: 0 auto;
    justify-content: center;
}

.img-small {
    max-height: 30rem;
    max-width: 30rem;
}

.img-large{
    max-width: 900px;
}

.img-25 img {
    width: 25%;
}

.img-50 img {
    width: 50%;
}

.img-75 img {
    width: 75%;
}

.green-purple {
    filter: hue-rotate(130deg);
}

.mt-2{
    margin-top: 2rem !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.mb-2 {
    margin-bottom: 2rem !important;
}

.note {
    position: relative;
    padding: 2rem 1rem 1rem;
    border-radius: 5px;
    overflow: hidden;
    font-size: small;
}

.note::before{
    content: '*Note*';
    font-size: x-small;
    /* font-family: 'JetBrains Mono'; */
    font-family: sans-serif;
    letter-spacing: 1.5px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    opacity: 0.6;
}

.note::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 5px;
    opacity: 0.6;
}

.note span, .note strong {
    color: inherit;
}

.note-normal {
    background-color: rgba(27, 21, 81, 0.1);
    color: rgba(27, 21, 81);
}

.note-normal::before{
    color:rgb(24, 16, 98);
}

.note-normal::after{
    background-color:rgb(24, 16, 98);
}

.note-imp {
    background-color: rgba(255, 122, 5, 0.3);
    color: rgb(85, 43, 7);
}

.note-imp::before{
    color:rgb(130, 81, 2);
}

.note-imp::after{
    background-color:rgb(187, 97, 0);
}

.note-mostimp {
    background-color: rgba(255, 0, 0, 0.2);
    color: rgb(132, 0, 0);
}

.note-mostimp::before{
    color:rgb(132, 0, 0);
}

.note-mostimp::after{
    background-color:rgb(176, 0, 0);
}

/* table */
table {
    width: 100%;
    max-width: 80rem;
    border-collapse:collapse;
    margin-top: 2rem;
    background-color: #fff;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    word-wrap: break-word;
}

td span{
    color: #444;
}

th {
    background-color: rgb(27, 21, 81); 
    color: #eee;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

@media screen and (max-width: 700px) {
    body{
        padding: 1rem 2.5rem;
    }
    h1 {
        font-size: 1.7rem;
    }

    h3{
        margin-top: 1.4rem;
    }
    p{
        margin: 1rem 0;
    }
    p, li {
        font-size: 0.9rem;
        letter-spacing: 0.35px;
        line-height: 1.1rem;
    }
    .code{
        line-height: 1.3rem;
    }
    .code pre{
        font-size: small;
    }
}

@media screen and (max-width: 520px) {
    body{
        padding: 1rem 2rem;
        padding-bottom: 4rem;
    }

    h1 {
        font-size: 1.5rem;
    }

    h3{
        margin-top: 1rem;
    }
    p{
        margin: 1rem 0;
    }
    p, li {
        font-size: 0.8rem;
        letter-spacing: 0.3px;
        line-height: 1rem;
    }
    #structimg img{
        max-width: 700px;
        width: 100%;
        height: auto;
    }
    .note {
        font-size: x-small;
    }
    table {
        font-size: small;
    }
    th, td {
        padding: 10px 5px;
    }
}

@media screen and (max-width: 400px) {
    body{
        padding-bottom: 6rem;
    }
    .code .copybtn{
        padding: 3px 5px;
        font-size: 10px;
    }
    .code pre{
        font-size: x-small;
    }
    table {
        font-size: x-small;
    }
}