* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    padding: 1rem 3rem;
}

body::-webkit-scrollbar {
    width: 0px;
}

h1 {
    margin-bottom: 2rem;
    color: rgb(12, 31, 94);
}

h3{
    margin-top: 2rem;
}

p {
    margin: 1rem 0;
    letter-spacing: 0.4px;
    line-height: 1.2rem;
}
#structimg{
    display: grid;
    place-items: center;
}
#structimg img{
    width: 100%;
    max-width: 600px;
}

span {
    font-weight: bold;
    color: rgb(12, 31, 94);
}

li {
    margin-left: 1rem;
}

@media screen and (max-width: 700px) {
    body{
        padding: 1rem 2.5rem;
    }
    h1 {
        font-size: 1.7rem;
    }

    h3{
        margin-top: 1.4rem;
    }
    p{
        margin: 1rem 0;
    }
    p, li {
        font-size: 0.9rem;
        letter-spacing: 0.35px;
        line-height: 1.1rem;
    }
}
@media screen and (max-width: 520px) {
    body{
        padding: 1rem 2rem;
        padding-bottom: 4rem;
    }

    h1 {
        font-size: 1.5rem;
    }

    h3{
        margin-top: 1rem;
    }
    p{
        margin: 1rem 0;
    }
    p, li {
        font-size: 0.8rem;
        letter-spacing: 0.3px;
        line-height: 1rem;
    }
}
@media screen and (max-width: 400px) {
    body{
        padding-bottom: 6rem;
    }
}