/* Resetting default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f8f9fa;
    height: 100vh;
    /* border: 2px solid blue; */
}

nav {
    background-color: rgb(148, 126, 194);
    /* height: 60px; */
}

main .coverImage {
    position: absolute;
    width: 100%;
    height: 15rem;
    z-index: -1;
}

main .coverImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main {
    position: relative;
    height: calc(100% - 5rem);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

main .maincontent {
    height: 100%;
    width: 100%;
    margin-top: 7rem;
    /* border: 2px solid red; */
    padding: 2rem 12%;
    display: flex;
    flex-direction: column;
    gap: 2rem;

}

main article {
    display: flex;
    width: 100%;
    gap: max(15%, 2rem);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #fff;
    padding: 1rem 5rem;
}

main article .profile {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* padding: 20px 2rem; */
}

main article .profile .profile-pic {
    width: 150px;
    aspect-ratio: 1/1;
    border: 2px solid rgb(242, 235, 255);
    border-radius: 50%;
    overflow: hidden;
}

main article .profile .profile-pic img {
    width: 100%;
    height: 100%;
}

main article .profile .profile-username {
    text-align: center;
}

main article .profile .profile-username p {
    font-size: large;
    color: rgb(107, 80, 158);
}

main article .right {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
}

main article .right .btns {
    display: flex;
    gap: 1rem;
}

main article .right .btns button {
    flex-grow: 1;
    max-width: 12rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    background-color: rgb(109 82 158);
    color: #fff;
    cursor: pointer;
}

main article .right .btns button:hover {
    background-color: rgb(148, 126, 194);
}

main article .profile-details {
    flex-grow: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 20px;
}

main article .profile-details .data {
    display: flex;
    align-items: center;
    /* flex-direction: column; */
    gap: 0.8rem;
}

main article .profile-details label {
    font-weight: bold;
    color: rgb(91, 67, 136);
}

main article .profile-details p {
    color: rgb(148, 126, 194);
}

main section {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

main section .top {
    background-color: #fff;
    display: flex;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);
}

main section .top a {
    flex-grow: 1;
    text-align: center;
    padding: 20px 0;
    text-decoration: none;
    color: rgb(148, 126, 194);
}

main section .top .active {
    color: rgb(109 82 158);
    border-bottom: 2px solid rgb(109 82 158);
}

main section .top a:hover {
    background-color: rgb(246, 241, 255);
}

main section .bottom {
    height: calc(100% - 4rem);
    width: 100%;
    overflow: auto;
    /* background-color: green; */
}

main section .bottom .content {
    display: flex;
    gap: 2rem;
    height: calc(100% - 25%);
}

main section .bottom .content .center{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

main section .bottom .content .center p {
    color: rgb(148, 126, 194);
}

main section .bottom .courses {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
    gap: 2rem;
    padding: 2rem 5%;
    justify-content: space-around;
}

main section .bottom .courses .course {
    width: 14rem;
    display: flex;
    flex-direction: column;
    /* gap: 1rem; */
    justify-content: space-between;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

main section .bottom .courses .course a {
    text-decoration: none;
    color: rgb(109 82 158);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    width: 100%;
    aspect-ratio: 3/2;
    gap: 1rem;
}

main section .bottom .courses .course a .icon {
    width: 50%;
    aspect-ratio: 1/1;
    border: 2px solid rgb(242, 235, 255);
}

main section .bottom .courses .course a .icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main section .bottom .courses .course button {
    width: 100%;
    padding: 0.5rem;
    border: none;
    background-color: transparent;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    cursor: pointer;
    color: rgb(255, 0, 0);
}

main section .bottom .courses .course button:hover {
    background-color: rgba(255, 0, 0, 1);
    color: white;
}

main section .bottom .articles {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 5%;
}

main section .bottom .articles .article {
    display: flex;
    width: 100%;
    height: 6rem;
    gap: 1rem;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

main section .bottom .articles .article a {
    display: flex;
    width: calc(100% - 4rem);
    gap: 1rem;
    text-decoration: none;
    color: rgb(109 82 158);
}

main section .bottom .articles .article a .image  {
    height: 100%;
    border: 2px solid rgb(242, 235, 255);
    border-radius: 10px;
    overflow: hidden;
}

main section .bottom .articles .article a .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main section .bottom .articles .article a .details {
    display: flex;
    width: calc(100% - 6rem);
    flex-direction: column;
    justify-content: space-around;
}

main section .bottom .articles .article a .details h3 {
    font-size: large;
    color: rgb(107, 80, 158);
}

main section .bottom .articles .article a .details p {
    color: rgb(148, 126, 194);
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

main section .bottom .articles .article .btns {
    display: flex;
    align-items: center;
    gap: 1rem;
}

main section .bottom .articles .article .btns button {
    width: 100%;
    height: max-content;
    padding: 0.3rem 1rem;
    border-radius: 5px;
    border: none;
    font-size: large;
    cursor: pointer;
    color: red;
    background-color: transparent;
}

main section .bottom .articles .article .btns button:hover {
    color: white;
    background-color: rgb(255, 0, 0);
}